.git/
Downloads/
Documents/
MOK.der
MOK.priv
My library/
Pictures/
VirtualBox VMs/
admin@192.168.5.1
jeroen@docker.home.venomspot.net
kicad/
sketchbook/
snap/
source/
synology/
test.c
test.txt
test/
winehq.key
winehq.key.1
.Xauthority
.arduino/
.bash_history
.bash_logout
.cache/
.cinnamon/
.config/
.dmrc
.face
.gnupg/
.gtkrc-2.0
.gtkrc-xfce
.java/
.lesshst
.linuxmint/
.local/
.minirc.dfl
.mozilla/
.pki/
.platformio/
.profile
.ssh/
.sudo_as_admin_successful
.thunderbird/
.var/
.vim/
.viminfo
.vmware/
.vscode/
.wget-hsts
.wine/
.xsession-errors
.xsession-errors.old
.zoom/

